@tailwind base;

@layer base {
  ul {
    @apply list-disc;
  }

  ul li::marker {
    @apply text-black text-xl;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply list-outside pl-6;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply text-sm tracking-normal;
  }

  input {
    @apply outline-none border-b-2 border-b-black;
  }

  .main-input {
    @apply min-w-48 h-10;
  }

  @screen xxs {
    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5 {
      @apply text-lg;
    }

    h6 {
      @apply text-base;
    }

    p {
      @apply text-sm;
    }
  }

  @screen xs {
    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5 {
      @apply text-lg;
    }

    h6 {
      @apply text-base;
    }

    p {
      @apply text-sm;
    }
  }

  @screen sm {
    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5 {
      @apply text-lg;
    }

    h6 {
      @apply text-base;
    }

    p {
      @apply text-sm;
    }
  }

  @screen md {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    h6 {
      @apply text-lg;
    }

    p {
      @apply text-base;
    }
  }

  @screen lg {
    h1 {
      @apply text-6xl;
    }

    h2 {
      @apply text-5xl;
    }

    h3 {
      @apply text-4xl;
    }

    h4 {
      @apply text-3xl;
    }

    h5 {
      @apply text-2xl;
    }

    h6 {
      @apply text-xl;
    }

    p {
      @apply text-lg;
    }
  }

  @screen xl {
    h1 {
      @apply text-7xl;
    }

    h2 {
      @apply text-6xl;
    }

    h3 {
      @apply text-5xl;
    }

    h4 {
      @apply text-4xl;
    }

    h5 {
      @apply text-3xl;
    }

    h6 {
      @apply text-2xl;
    }

    p {
      @apply text-xl;
    }
  }

  @screen 2xl {
    h1 {
      @apply text-8xl;
    }

    h2 {
      @apply text-7xl;
    }

    h3 {
      @apply text-6xl;
    }

    h4 {
      @apply text-5xl;
    }

    h5 {
      @apply text-4xl;
    }

    h6 {
      @apply text-3xl;
    }

    p {
      @apply text-2xl;
    }
  }

  .primary {
    @apply text-blue;
  }

  .secondary {
    @apply text-pink;
  }

  .primary-hover {
    @apply hover:bg-blue-100;
  }

  .flatbtn {
    @apply text-sm lg:text-lg xl:text-xl 2xl:text-2xl px-2 py-1;
  }
  .top {
    @apply flex-col pb-2;
  }
  .bottom {
    @apply flex-col-reverse pt-2;
  }
  .start {
    @apply flex-row pr-2;
  }
  .end {
    @apply flex-row-reverse pl-2;
  }

  .btn-primary {
    @apply flex bg-blue text-white rounded px-4 justify-center items-center py-3 min-w-48 cursor-pointer w-fit hover:opacity-80;
  }

  .btn-border-primary {
    @apply flex text-xs text-blue font-bold rounded px-4 justify-center items-center py-3 min-w-48 cursor-pointer w-fit border border-blue hover:bg-blue-100;
  }

  .icon-btn-border-primary {
    @apply flex text-xs text-blue font-bold rounded px-4 justify-center items-center py-3 min-w-48 cursor-pointer w-fit border border-blue hover:bg-blue-100;
  }

  .btn-border-primary .btn:not(.btn--success) {
    @apply bg-pink;
  }

  .btn.btn--disabled {
    @apply opacity-50 pointer-events-none;
  }

  .btn.btn--success {
    @apply bg-blue;
  }

  .disable {
    @apply bg-transparent text-gray-dark cursor-default hover:bg-transparent;
  }

  .shadow-default {
    box-shadow: 0px 2px 4px #51515130, 0px 12px 32px #2c2c2c20;
  }
}

@tailwind components;
@tailwind utilities;

.marbt-1 {
  margin-bottom: 2px;
}
.marto-1 {
  margin-top: 2px;
}
.marle-1 {
  margin-left: 2px;
}
.marri-1 {
  margin-right: 2px;
}

.marbt-2 {
  margin-bottom: 4px;
}
.marto-2 {
  margin-top: 4px;
}
.marle-2 {
  margin-left: 4px;
}
.marri-2 {
  margin-right: 4px;
}

.marbt-3 {
  margin-bottom: 6px;
}
.marto-3 {
  margin-top: 6px;
}
.marle-3 {
  margin-left: 6px;
}
.marri-3 {
  margin-right: 6px;
}

.marbt-4 {
  margin-bottom: 8px;
}
.marto-4 {
  margin-top: 8px;
}
.marle-4 {
  margin-left: 8px;
}
.marri-4 {
  margin-right: 8px;
}


